<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basket</title>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./css/basket.css"/>
    <script type="text/javascript" src="/jquery/basket.js"></script>
</head>
<body>
<header><%- include("User_Navbar"); %></header>
<div id="basketPage">
    <div id="basketContainer">
        <h1>Basket</h1><br><br>
        <% if( basket.length > 0){ %>
            <% for(i=0;i<basket.length;i++){ %>
                <div>
                    <div class="row">
                        <div class="col-1">
                            <i class="far fa-times-circle" id="<%= basket[i].getItemId() %>"></i>
                        </div>
                        <div class="col-2">
                            <img width="100" height="100" src="/images/<%= basket[i].getImg() %>" >
                        </div>
                        <div class="col-2">
                            <h4><%= basket[i].getItemName() %></h4>
                        </div>
                        <div class="col-2">
                            <h4>QTY: <%= basket[i].getQuantity() %></h4>
                        </div>
                        <div class="col-2">
                            <h4>£<%= basket[i].getIndividualPrice() %></h4>
                        </div>
                        <div class="col-3 text-center">
                            <h4><strong>£<%= basket[i].getTotalPrice() %></strong></h4>
                        </div>
                        <div>
                            <button type="button" class="btn btn-dark"><a href="/Checkout_Basket">Check Out</a></button>
                        </div>
                    </div><br>
                </div>
            <% } %>
        <% } %>
    </div>
</div>
</body>
</html>

