<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./css/employee_home.css"/>
    <script type="text/javascript" src="/jquery/employee_home.js"></script>
</head>
<body>
<header><%- include("Employee_Navbar"); %></header>
<div id="homePage">
    <div class="homeContainer">
        <h1>View Orders</h1>
        <div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-dark" id="deliveredBtn">Delivered Orders</button>
            <button type="button" class="btn btn-secondary" id="awaitingBtn">Awaiting Orders</button>
        </div><br>

        <div id="awaitingOrdersDiv" class="w3-animate-zoom">
            <% if(awaitingOrders.length>0){%>
                <% for(let i=0;i<awaitingOrders.length;i++){ %>
                    <div class="row">
                        <div class="col-3">
                            <h5>Order ID:<br><%= awaitingOrders[i].getOrderID() %></h5>
                        </div>
                        <div class="col-3">
                            <h5>Customer ID:<br><%= awaitingOrders[i].getUserID() %></h5>
                        </div>
                        <div class="col-2">
                            <h5>Customer's Name:<br><%= awaitingOrders[i].getUserFullname() %></h5>
                        </div>
                        <div class="col-2">
                            <h5>Date of Order:<br><%= awaitingOrders[i].getOrderDate() %></h5>
                        </div>
                        <div class="col-1">
                            <h5>Order Status:<br><%= awaitingOrders[i].getOrderStatus() %></h5>
                        </div>
                        <div class="col-1 text-center">
                            <button class="btn btn-dark">
                                <a href="/View_Order_Employee/<%= awaitingOrders[i].getOrderID() %>">
                                    PROCESS ORDER
                                </a>
                            </button>
                        </div>
                    </div><hr class="line">
                <% } %>
            <% } %>
        </div>
        <div id="deliveredOrdersDiv" class="w3-animate-zoom hidden">
            <% if(deliveredOrders.length>0){%>
                <% for(let i=0;i<deliveredOrders.length;i++){ %>
                    <div class="row">
                        <div class="col-3">
                            <h5>Order ID:<br><%= deliveredOrders[i].getOrderID() %></h5>
                        </div>
                        <div class="col-3">
                            <h5>Customer ID:<br><%= deliveredOrders[i].getUserID() %></h5>
                        </div>
                        <div class="col-2">
                            <h5>Customer's Name:<br><%= deliveredOrders[i].getUserFullname() %></h5>
                        </div>
                        <div class="col-2">
                            <h5>Date of Order:<br><%= deliveredOrders[i].getOrderDate() %></h5>
                        </div>
                        <div class="col-1">
                            <h5>Order Status:<br><%= deliveredOrders[i].getOrderStatus() %></h5>
                        </div>
                        <div class="col-1 text-center">
                            <button class="btn btn-dark">
                                <a href="/View_Order_Employee/<%= deliveredOrders[i].getOrderID() %>">
                                    View Order
                                </a>
                            </button>
                        </div>
                    </div><hr class="line">
                <% } %>
            <% } %>
        </div>

    </div>
</div>
</body>
</html>