<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Stock Item</title>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./css/view_stock_book.css"/>
    <script type="text/javascript" src="/jquery/view_stock_book.js"></script>
</head>
<body>
<header><%- include("Employee_Navbar"); %></header>
<div id="viewStockPage" class="col-12">
    <div id="stockContainer" class="col-12">
        <p id="message" class="text-center"></p>
        <div class="row">
            <div class="col-8">
                <form action="/updateBook" method="post">
                    <div class="row">
                        <div class="col-2">
                            <label id="bookIdLbl" for="bookID">Stock No:</label>
                        </div>
                        <div class="col-5">
                            <input type="text" name="bookID" id="bookID"
                                   class="form-control" value="<%= book.getId() %>" readonly>
                        </div>
                    </div><br>
                    <div class="form-group row">
                        <div class="col-2">
                            <label for="authorForename">Author's Forename:</label>
                        </div>
                        <div class="col-4">
                            <input value="<%= book.getAuthorForename() %>" type="text" class="form-control text authorName" id="authorForename" name="authorForename" required>
                        </div>
                        <div class="col-2">
                            <label for="authorSurname">Author's Surname:</label>
                        </div>
                        <div class="col-4">
                            <input value="<%= book.getAuthorSurname() %>" type="text" class="form-control text authorName" id="authorSurname" name="authorSurname" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label for="bookName">Book Name:</label>
                        </div>
                        <div class="col-10">
                            <input value="<%= book.getBookName() %>" type="text" class="form-control text" id="bookName" name="bookName" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label>Stock Price(£):</label>
                        </div>
                        <div class="col-2">
                            <input value="<%= stockPound %>" type="number" min="1" class="form-control price" name="stockPound" id="stockPound" required>
                        </div>
                        <div class="col-1" class="decimal">
                            <p>.</p>
                        </div>
                        <div class="col-2" id="stockPennyCol">
                            <input value="<%= stockPenny %>" type="number" min="1" max="99" class="form-control price" name="stockPenny" id="stockPenny"required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <label>Selling Price(£):</label>
                        </div>
                        <div class="col-2">
                            <input value="<%= sellPound %>" type="number" min="1" class="form-control price" name="sellPound" id="sellPound" required>
                        </div>
                        <div class="col-1" class="decimal">
                            <p>.</p>
                        </div>
                        <div class="col-2" id="sellPennyCol">
                            <input value="<%= sellPenny %>" type="number" min="1" max="99" class="form-control price" name="sellPenny" id="sellPenny" required>
                        </div>
                    </div>
                    <div class="form-group row move">
                        <div class="col-2">
                            <label>Stock Amount:</label>
                        </div>
                        <div class="col-2">
                            <input value="<%= book.getStockAmount() %>" type="number" min="1" class="form-control" name="stockAmount" id="stockAmount" required>
                        </div>
                    </div>
                    <div class="form-group row move">
                        <div class="col-2">
                            <label>Synopsis:</label>
                        </div>
                        <div class="col-8">
                            <textarea id="synopsis" name="synopsis" class="form-control text" cols="10" rows="6" required><%= book.getSynopsis() %></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-2">
                            <h4>Genre(s):</h4>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <div class="form-check">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input genre" id="scifi" name="scifi">
                                    <label class="form-check-label" for="scifi">Science Fiction</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input genre" id="adventure" name="adventure">
                                    <label class="form-check-label" for="adventure">Adventure</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input genre" id="romance" name="romance">
                                    <label class="form-check-label" for="romance">Romance</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input genre" id="historical" name="historical">
                                    <label class="form-check-label" for="historical">Historical</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input genre" id="horror" name="horror">
                                    <label class="form-check-label" for="horror">Horror</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input genre" id="fantasy" name="fantasy">
                                    <label class="form-check-label" for="fantasy">Fantasy</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input genre" id="mystery" name="mystery">
                                    <label class="form-check-label" for="mystery">Mystery</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input genre" id="comic" name="comic">
                                    <label class="form-check-label" for="comic">Comic</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input genre" id="shortStories" name="shortStories">
                                    <label class="form-check-label" for="shortStories">Short Stories</label>
                                </div>
                            </div>
                        </div>
                    </div><br><input type="text" name="imgCover" id="imgCover" value="<%= book.getImage() %>" readonly>
                    <button type="submit" class="btn btn-dark float-left" id="saveEditBtn">Save Changes</button>
                </form>
                <div class="text-center">
                    <button type="button" class="btn btn-danger"><a href="/Delete_Book/<%= book.getId() %>">Delete Book</a></button>
                    <button type="button" class="btn btn-secondary float-right"><a href="View_All_Stock">Go Back</a></button>
                </div>
            </div>
            <div class="col-4"><br><br><br>
                <div><img src="/images/<%= book.getImage() %>" ></div>
                <div><br><br>
                    <form action="/updateBookImg" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <input type="text" name="theBookID" id="theBookID" value="<%= book.getId() %>" readonly>
                            <div class="text-center">
                                <input class="form-control-file text-center" type="file" accept="image/.jpg, image/.png" name="imgName" id="imgName" required>
                            </div><br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-dark text-center">Update Book Image</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p id="genres"><%= listGenres %></p>
</div><br>
</body>
</html>
