<!DOCTYPE html>
<html lang="en">
<head>
    <title>View Books</title>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./css/view_all_books.css"/>
</head>
<body>
<header><%- include("User_Navbar"); %></header>
<div id="viewBookPage">
    <div id="bookContainer">
        <input type="number" class="basketNum hidden" value="<%= basketNum %>" readonly>
        <h1>View Books</h1><br><br>
        <div class="row">
            <% for (i=0; i<books.length; i++) { %>

                <div class="col-3">
                    <div><img src="/images/<%= books[i].getImage() %>" ></div><br>
                    <div><h4 class="text-center"><a href="./View_Book/<%= books[i].getId() %>"><%= books[i].getBookName() %></a></h4></div>
                    <div><h5 class="text-center"><%= books[i].getAuthorForename()%>  <%= books[i].getAuthorSurname()%></h5></div>
                    <div><h5 class="text-center">£<%= books[i].getSellingPrice() %></h5></div>
                    <br><br>
                </div>
            <% }%>
        </div>
    </div>
</div>
</body>
</html>